<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <div class="row expanded callout secondary" style="margin:0; padding-top:0">
        <div class="large-4 columns" style="margin-top:1rem;">
            <h5><a th:href="@{/web/searchbooks?searchtype=u}">BOOKSHELF</a></h5>
            <p>Bookshelf is available only SimpleOPDS Catalog mode with activated user authorization.</p>
        </div>
        <div class="large-4 columns" style="margin-top:1rem;">
            <h5>STATISTICS</h5>
            <p style="font-size:90%;">
                <b>This catalog contains:</b>
                <span class="label" th:text="${stats.allbooks}">0</span> books,
                <span class="label" th:text="${stats.allauthors}">0</span> authors,
                <span class="label" th:text="${stats.allgenres}">0</span> genres and
                <span class="label" th:text="${stats.allseries}">0</span> series.
            </p>
            <p style="font-size:90%;">
                <b>Last collection scan date:</b>
                <span class="label" th:text="${stats.lastscan_date ?: 'Never'}">Never</span>
            </p>
        </div>
        <div class="large-4 columns" style="padding:0; margin-top:1rem;">
            <div class="large-12 columns">
                <h5>RANDOM BOOK</h5>
            </div>
            <div class="large-12 columns clearfix" th:if="${random_book}">
                <img class="float-left" th:src="@{/opds/thumb/{id}(id=${random_book.id})}" width="80px" style="padding:0.3rem;">
                <p style="font-size:80%;line-height:1rem;margin-bottom:0.25rem; margin-top:0.25rem;">
                    <b><a th:href="@{/web/searchbooks?searchtype=i&searchterms={id}(id=${random_book.id})}" th:text="${random_book.title}">Book Title</a></b>
                </p>
                <div style="font-size:70%;text-align:justify;" th:text="${#strings.abbreviate(random_book.annotation, 400)}">Annotation</div>
            </div>
        </div>
    </div>

    <div class="large-12 columns sopdsmenu" style="margin:0;padding:0;">
        <div class="medium-6 columns">
            <ul class="menu show-for-medium">
                <li class="menu-text" style="padding:0">
                    <a href="https://github.com/malexple/sopds" target="_blank">
                        <i class="fi-social-github"></i>GitHub
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>