<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{sopds_main :: layout(~{::content})}">
<body>
<th:block th:fragment="content">
    <table>
        <tr th:each="b : ${items}">
            <!-- Catalog -->
            <th:block th:if="${b.isCatalog == 1}">
                <td width="80px" style="padding:0rem 0rem;">
                    <img th:if="${b.catType == 0}" th:src="@{/images/folder.png}" width="32px">
                    <img th:if="${b.catType == 1 or b.catType == 3}" th:src="@{/images/zip.png}" width="32px">
                    <img th:if="${b.catType == 2}" th:src="@{/images/inpx.png}" width="32px">
                </td>
                <td>
                    <a th:href="@{/catalog(cat=${b.id})}" th:text="${b.title}">Catalog Name</a>
                </td>
            </th:block>

            <!-- Book -->
            <th:block th:if="${b.isCatalog == 0}">
                <td width="80px" style="padding:0rem 0rem;">
                    <img th:src="@{/images/text.png}" width="32px">
                    <span class="success label" th:text="${b.format}">fb2</span>
                </td>
                <td>
                    <a th:href="@{/search/books(searchtype=i,searchterms=${b.id})}" th:text="${b.title}">Book Title</a>
                </td>
            </th:block>
        </tr>
    </table>

    <!-- Empty state -->
    <div th:if="${#lists.isEmpty(items)}" class="callout">
        <p>Каталог пуст</p>
    </div>

    <!-- Pagination -->
    <div th:replace="~{fragments/sopds_pagination :: pagination(${paginator}, '/catalog', ${catId != null} ? 'cat=' + ${catId} : '')}"></div>

</th:block>
</body>
</html>
