<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{sopds_main :: layout(~{::content})}">
<body>
<th:block th:fragment="content">
    <table>
        <tr th:each="a : ${authors}">
            <td>
                <a th:href="@{/search/books(searchtype=a,searchterms=${a.id})}">
                    <b th:text="${a.fullName}">Author Name</b>
                </a>
                <span style="font-size:80%;" th:text="'Всего: ' + ${a.bookCount} + ' книг.'">Всего: 0 книг.</span>
            </td>
        </tr>
    </table>

    <!-- Empty state -->
    <div th:if="${#lists.isEmpty(authors)}" class="callout">
        <p>Авторы не найдены</p>
    </div>

    <!-- Pagination -->
    <div th:replace="~{fragments/sopds_pagination :: pagination(${paginator}, '/search/authors', 'searchtype=' + ${searchtype} + '&amp;searchterms=' + ${searchterms})}"></div>

</th:block>
</body>
</html>
