<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/icon" th:href="@{/images/favicon.ico}"/>
    <title th:text="${appTitle} + (${breadcrumbs != null and #lists.size(breadcrumbs) > 0} ? ' / ' + ${breadcrumbs[0]} : '')">SOPDS</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sopds.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/foundation-icons/foundation-icons.css}">
</head>

<body>
<div class="row"><div class="large-12 column">
    <div th:replace="~{fragments/sopds_top :: top}"></div>
</div></div>

<div class="row"><div class="large-12 column">
    <div th:replace="~{fragments/sopds_logo :: logo}"></div>
</div></div>

<div class="row"><div class="large-12 column">
    <div th:replace="~{fragments/sopds_menu :: menu}"></div>
</div></div>

<div class="row"><div class="large-12 column">
    <div th:replace="~{fragments/sopds_breadcrumbs :: breadcrumbs}"></div>
</div></div>

<div class="row" th:if="${systemMessage != null}"><div class="large-12 column">
    <div th:replace="~{fragments/sopds_messages :: messages}"></div>
</div></div>

<!-- Content block -->
<div class="row"><div class="large-12 column">
    <th:block th:insert="${content}"></th:block>
</div></div>

<div class="row"><div class="large-12 column">
    <div th:replace="~{fragments/sopds_footer :: footer}"></div>
</div></div>

<script th:src="@{/js/vendor/jquery.js}"></script>
<script th:src="@{/js/vendor/foundation.min.js}"></script>

<script>
    $(document).foundation();
</script>

</body>
</html>
