<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{sopds_main :: layout(~{::content})}">
<body>
<th:block th:fragment="content">

    <!-- Debug: показать количество книг -->
    <div class="callout primary">
        <small>Найдено книг: <span th:text="${#lists.size(books)}">0</span></small>
    </div>

    <!-- Список книг -->
    <table class="books-table" style="width:100%;">
        <tr th:each="b : ${books}" style="border-bottom: 1px solid #eee;">
            <td width="100px" style="padding: 0.5rem; vertical-align: top;">
                <img th:src="@{/opds/cover/{id}(id=${b.id})}"
                     th:data-fallback="@{/images/nocover.jpg}"
                     width="80px"
                     onerror="this.onerror=null; this.src=this.dataset.fallback;"/>
            </td>
            <td style="padding: 0.5rem; vertical-align: top;">
                <div>
                    <b th:text="${b.title}">Title</b>
                    <i style="font-size:80%;"> Скачать: </i>
                    <a th:href="@{/opds/download/{id}/{zip}(id=${b.id},zip=0)}">
                        <span class="label small" th:text="${b.format}">fb2</span>
                    </a>
                </div>
                <div style="font-size:80%; margin-top:0.5rem;">
                <span th:if="${b.authors != null and !b.authors.isEmpty()}">
                    <b>Авторы:</b>
                    <span th:each="a,iterStat : ${b.authors}">
                        <a th:href="@{/search/books(searchtype=a,searchterms=${a.id})}" th:text="${a.fullName}">Author</a><span th:unless="${iterStat.last}">, </span>
                    </span><br/>
                </span>
                    <span th:if="${b.genres != null and !b.genres.isEmpty()}">
                    <b>Жанры:</b>
                    <span th:each="g,iterStat : ${b.genres}">
                        <a th:href="@{/search/books(searchtype=g,searchterms=${g.id})}" th:text="${g.subsection}">Genre</a><span th:unless="${iterStat.last}">, </span>
                    </span><br/>
                </span>
                    <span th:if="${b.series != null and !b.series.isEmpty()}">
                    <b>Серия:</b>
                    <span th:each="s,iterStat : ${b.series}">
                        <a th:href="@{/search/books(searchtype=s,searchterms=${s.id})}" th:text="${s.ser}">Series</a><span th:unless="${iterStat.last}">, </span>
                    </span><br/>
                </span>
                    <b>Файл:</b> <span th:text="${b.path + '/' + b.filename}">path/file.fb2</span><br/>
                    <b>Размер:</b> <span th:text="${b.filesize != null ? b.filesize / 1000 : 0}">100</span> Кб.<br/>
                    <b>Дата:</b> <span th:text="${b.docdate}">2024</span>
                </div>
                <div th:if="${b.annotation != null and !b.annotation.isEmpty()}"
                     style="font-size:80%; margin-top:0.5rem; color:#666;"
                     th:utext="${b.annotation}">
                </div>
            </td>
        </tr>
    </table>

    <!-- Empty state -->
    <div th:if="${#lists.isEmpty(books)}" class="callout warning">
        <p>Книги не найдены</p>
    </div>

    <!-- Pagination -->
    <div th:if="${paginator != null and paginator.numPages > 1}"
         th:replace="~{fragments/sopds_pagination :: pagination(${paginator}, '/search/books', 'searchtype=' + ${searchtype} + '&amp;searchterms=' + ${searchterms})}">
    </div>

</th:block>
</body>
</html>
