<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/icon" th:href="@{/images/favicon.ico}"/>
    <title th:text="${appTitle} + (${breadcrumbs != null and #lists.size(breadcrumbs) > 0} ? ' / ' + ${breadcrumbs[0]} : '')">SOPDS</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sopds.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/foundation-icons/foundation-icons.css}">
</head>

<body>
<div class="row"><div class="large-12 column">
    <th:block th:replace="~{fragments/sopds_top :: top}"></th:block>
</div></div>

<div class="row"><div class="large-12 column">
    <th:block th:replace="~{fragments/sopds_logo :: logo}"></th:block>
</div></div>

<div class="row"><div class="large-12 column">
    <th:block th:replace="~{fragments/sopds_menu :: menu}"></th:block>
</div></div>

<div class="row"><div class="large-12 column">
    <th:block th:replace="~{fragments/sopds_breadcrumbs :: breadcrumbs}"></th:block>
</div></div>

<div class="row" th:if="${systemMessage != null}"><div class="large-12 column">
    <th:block th:replace="~{fragments/sopds_messages :: messages}"></th:block>
</div></div>

<!-- Content block -->
<div class="row"><div class="large-12 column">
    <th:block th:replace="${content}"></th:block>
</div></div>

<div class="row"><div class="large-12 column">
    <th:block th:replace="~{fragments/sopds_footer :: footer}"></th:block>
</div></div>

<script th:src="@{/js/vendor/jquery.js}"></script>
<script th:src="@{/js/vendor/foundation.min.js}"></script>

<script th:inline="javascript">
    $(document).foundation();
    SetSearch();
    Foundation.Abide.defaults.validators['check_search'] =
        function($el,required,parent) {
            if ($('#main_searchbox')[0].value.length < 3)
                return false;
            return true;
        };
    function logout(to_url) {
        var out = window.location.href.replace(/:\/\//, '://log:out@');
        jQuery.get(out).error(function() {
            window.location = to_url;
        });
    }
</script>

<th:block th:replace="${blockJs} ?: ~{}"></th:block>
</body>
</html>
