<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{sopds_main :: layout(~{::content})}">
<body>
<th:block th:fragment="content">
    <table>
        <tr th:each="chars : ${items}">
            <td>
                <a th:if="${chars.cnt >= splititems}" th:href="@{/author(lang=${langCode},chars=${chars.id})}" th:text="${chars.id}">Prefix</a>
                <a th:if="${chars.cnt < splititems}" th:href="@{/search/authors(searchtype=b,searchterms=${chars.id})}" th:text="${chars.id}">Prefix</a>
                <span style="font-size:80%" th:text="'Всего: ' + ${chars.cnt} + ' авторов.'">Всего: 0 авторов.</span>
            </td>
        </tr>
    </table>

    <!-- Empty state -->
    <div th:if="${#lists.isEmpty(items)}" class="callout">
        <p>Авторы не найдены</p>
    </div>
</th:block>
</body>
</html>
