<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<h2>Вход</h2>

<div th:if="${param.error}">
    Неверное имя пользователя или пароль
</div>

<div th:if="${param.logout}">
    Вы вышли из системы
</div>

<form method="post" th:action="@{/login}">
    <div>
        <label>Имя пользователя</label>
        <input type="text" name="username" placeholder="Введите имя пользователя">
    </div>
    <div>
        <label>Пароль</label>
        <input type="password" name="password" placeholder="Введите пароль">
    </div>
    <div>
        <input type="submit" value="Войти">
    </div>
</form>
</body>
</html>