<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{sopds_main :: layout(~{::content})}">
<body>
<th:block th:fragment="content">
    <table>
        <tr th:each="s : ${series}">
            <td>
                <a th:href="@{/search/books(searchtype=s,searchterms=${s.id})}">
                    <b th:text="${s.ser}">Series Name</b>
                </a>
                <span style="font-size:80%;" th:text="'Всего: ' + ${s.bookCount} + ' книг.'">Всего: 0 книг.</span>
            </td>
        </tr>
    </table>

    <!-- Empty state -->
    <div th:if="${#lists.isEmpty(series)}" class="callout">
        <p>Серии не найдены</p>
    </div>

    <!-- Pagination -->
    <div th:replace="~{fragments/sopds_pagination :: pagination(${paginator}, '/search/series', 'searchtype=' + ${searchtype} + '&amp;searchterms=' + ${searchterms})}"></div>

</th:block>
</body>
</html>
