<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{sopds_main :: layout(~{::content})}">
<body>
<th:block th:fragment="content">
    <div class="row">
        <div class="small-12 medium-8 large-8 small-centered columns">
            <h3 style="text-align:center;">
                Добро пожаловать в Simple OPDS Catalog!
            </h3>
            <p style="text-align:justify;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Simple OPDS Catalog - это бесплатная программа для Linux и Windows,
                которая позволяет быстро создать электронный OPDS-каталог книг. OPDS (Open Publication Distribution System)
                каталог позволяет получить доступ к вашей библиотеке через Интернет с различных устройств для чтения
                электронных книг, планшетов, смартфонов и т.д. Подробнее о программе можно узнать на сайте проекта:
                <a href="http://www.sopds.ru/">www.sopds.ru</a>.
            </p>
        </div>
    </div>
</th:block>
</body>
</html>
